.byebug_history
.env*
.git
.gitignore
.pryrc
.ruby-version
Dockerfile
Makefile
log/*
node_modules/*
public/assets/*
tmp/*
doc/*
config/database.yml.*
bin/*
!bin/rails
!bin/bundle
dockerfiles
miniprogram/*
